.labeling-image-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content; /* 내부 요소 크기에 맞게 조정 */
  gap: 5px;
}

/* 캐러셀 버튼 스타일 */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40%;
  background: rgba(0, 0, 0, 0.3); /* 반투명 배경 */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.6); /* 호버 시 버튼 강조 */
}

.carousel-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.carousel-button.left {
  left: -45px; /* 왼쪽 정렬 */
}

.carousel-button.right {
  right: -45px; /* 오른쪽 정렬 */
}

.image-thumbnails {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.thumbnail {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.05);
}

/* 체크박스 스타일 */
.thumbnail-checkbox {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  accent-color: green;
}